extends layout
block content
  h1 Chat
  div#caja1
    form#form_nick(action="javascript:void(0);")
      input#nick(type="text", size="50")
      input(type="submit", value="Ingresar nick")
    div#mensajes
    form#form_mensaje(action="javascript:void(0);")
      input#mensaje(type="text", size="50")
      input(type="submit", value="Enviar mensaje")
  div#caja2
    div#my_session
    div#caja3.box.bordered
      h3.subtitle Estado
      form#form_status(action="javascript:void(0);")
        select#select_status(name="status_id")
          option(value=1) Activo
          option(value=2) Ocupado
          option(value=3) Inactivo
        input(type="submit", value="Cambiar status")
    div#caja4.box.bordered
      h2 Conectados
      ul#usuarios 
    div#whisper   
    form#form_whisper(action="javascript:void(0);")
      input#whisperto(type="hidden")
      input#whispermessage(type="text", size="20")
      input(type="submit", value="Send whisper")
  script(type="text/javascript", src="/javascripts/chat_cliente.js")